<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href = "index.css">
    <title>view-template</title>
  </head>
  <body class="index" >
    <div id="app"></div>
    <!--built files will be auto injected -->
    <!--<center>
    <p class = "title"> welcome to cocktailrecommender</p>
    <button onclick="document.location='choosepicture.html';" id="squarebutton">写真投稿ページへ</button>
  -->
  </center>
  </body>
</html>
<!--
{% extends "layout.html" %}
{%block body %}
投稿がありません
{% endblock%}
-->
